@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

.card-module {
    border: solid 1px #7367f0;
    border-radius: 0.357rem;
}
.quizzBtn {
    background-color: #7367f0;
    border: solid 1px #7367f0;
    padding: 0.2rem 0.7rem;
    border-radius: 0.357rem;
    text-decoration: none;
    color: #cfd1d5;
    margin: 3px;
    &:hover {
        box-shadow: 0 8px 25px -8px #7367f0;
        color: #cfd1d5;
    }
}
.titleLabel {
    font-size: 1.3rem;
    text-decoration: none;
    margin-bottom: 10px;
    color: #cfd1d5;
    &:hover{
        text-decoration:underline;
        color: #cfd1d5;
    }
}
