{% extends 'base.html.twig' %}

{% block title %}New Organization{% endblock %}

{% block body %}
    <h1 class="big-titles">Create new Organization</h1>

    {{ include('organization/_form.html.twig') }}

    <a class="btn back-button" href="{{ path('organization_index') }}">back to list</a>
{% endblock %}
