
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/public/uploads/organizations/
/public/uploads/users/
###< symfony/framework-bundle ###
.idea/
# Local Netlify folder
.netlify
