{% extends 'client/base-client.html.twig' %}

{% block content %}
<div class="container">
    <h2>Répondre à {{quiz.label}}</h2>
    <hr/>
    <form method="POST" action="">
        {% for question in quiz.questions %}
        <div class="question_bloc">
            <p>Question : {{question.label}}</p>
            <textarea id="answer" name="answer" rows="5" cols="50" placeholder="Écrivez votre réponse ici..."></textarea>
        </div>
        {% endfor %}
         <input type="submit" value="Envoyer mes réponses" class="validation-button">
    </form>
</div>
{% endblock %}