{% extends 'client/base-client.html.twig' %}

{% block content %}
<div class="container">
    <h2>Tableau de bord Étudiant</h2>
    <hr/>
    <div class="col-12">
        <h3 class="center">Liste des modules</h3>
    </div>
    <div class="row mt-3">
        {% for module in modules %}
            <div class="col-12 col-lg-4">
                <div class="card-module bg-proceos-2 w-100 h-100">
                    <div class="pt-4">
                        <div class="text-center">
                            <h2>{{ module.label }}</h2>
                        </div>
                        <hr/>
                        <div class="d-flex justify-content-center">
                            <a href="{{path('app_client_module_show', {id:module.id})}}" class="quizzBtn">Voir le module</a>
                        </div>
                        {% if module.quiz is not null %}
                            <hr/>
                            {% if quizDone(module.quiz, app.user) %}
                                <div class="alert alert-success" role="alert">
                                    Vous avez répondu au questionnaire !
                                </div>
                            {% else %}
                                <div class="alert alert-warning mt-2" role="alert">
                                    <span>Vous devez répondre au questionnaire !</span>
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <a href="{{path('answer_quiz', {id:module.quiz.id})}}" class="quizzBtn">Questionnaire</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}