{% extends 'client/base-client.html.twig' %}

{% block content %}
<div class="container">
    <h2>Tableau de bord Étudiant</h2>
    <hr/>
    <div class="col-12">
        <h3 class="center">Liste des modules</h3>
    </div>
    <div class="row">
        {% for module in modules %}
            <div class="col-12 col-lg-4">
                <div class="card-module">
                    <div class="pt-4">
                        <h2>{{ module.label }}</h2>
                    </div>
                    {% if module.quiz is not null %}
                        {% if quizDone(module.quiz, app.user) %}
                            <a href="" class="quizzBtn">Déjà répondu</a>
                        {% else %}
                            <a href="{{path('app_client_module_show', {id:module.id})}}" class="quizzBtn">Voir le module</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}