<form method="post" action="{{ path('quiz_delete', {'id': quiz.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="margin_form_top">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quiz.id) }}">
    <button class="btn delete-button"><i class="far fa-trash"></i></button>
</form>
