{% extends './server/base.html.twig' %}

{% block title %}Edit ExerciceWork{% endblock %}

{% block body %}
    <h1 class="big-titles">Edit ExerciceWork</h1>

    {{ include('server/exercice_work/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn back-list" href="{{ path('exercice_work_index') }}">back to list</a>

    {{ include('server/exercice_work/_delete_form.html.twig') }}
{% endblock %}
