@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 991.9px) {
  #responsive-button{ display: block; }
}

@media (min-width: 992px) {
  #responsive-button{ display: none; }
}

