@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

body {  
    font-family: "Montserrat", sans-serif !important;
    color: #5e5873 !important;
    line-height: 1.2 !important;
    background-color: #F3F3F3;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-size: 1.714rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1.286rem;
    font-weight: 500;
}

input, textarea {
    all: unset;
}

input[type=text], textarea {
    padding: 0.438rem 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
    font-weight: 300;
}
input[type="text"]:focus, textarea:focus {
    border-color: #7367f0;
}

table {
    margin: 20px 20px 20px;
    font-weight: 400;
    border-bottom-left-radius: 0.357rem;
    border-bottom-right-radius: 0.357rem;
    min-width: 90%;
    text-align: center;
  }
  
  thead {
    height: 50px;
    background-color: #f3f2f7;
  }
  
  tr {
    font-weight: 300;
    height: 30px;
    border-top: 1px solid #ebe9f1;
  }

  td {
    border-top: 1px solid #ebe9f1;
  }