{% extends './server/base.html.twig' %}

{% block title %}New Exercice{% endblock %}

{% block body %}
    <h1 class="big-titles">Create new Exercice</h1>

    {{ include('server/exercice/_form.html.twig') }}

    <a class="btn back-button" href="{{ path('exercice_index') }}">back to list</a>
{% endblock %}
