{% block content %}
    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="text-center mt-4 mb-4">
                    <h5>Informations</h5>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="text-center mt-4 mb-4">
                    <h5>Projet Proceos</h5>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="text-center mt-4 mb-4">
                    <h5>Mentions légales</h5>
                </div>
            </div>
        </div>
        <hr/>
        <div class="col-12">
            <div class="text-center">
                <h6>Proceos Project 2021 - 2023 | Open-Source</h6>
            </div>
        </div>
    </div>
{% endblock %}