.bg-proceos-1{
    background-color: #202A46 !important;
}

.bg-proceos-2{
    background-color:#161d31 !important;
}

.purple-proceos{
    background-color: #7367f0 !important;
}

.text-purple-proceos{
    color: #7367f0;
}

.border-proceos{
    border: 2px solid #7367f0 !important;
}

.border-bottom-proceos{
    border-bottom: 2px solid #7367f0 !important;
}

.shadow-proceos{
    -webkit-box-shadow: 0px 0px 15px 0px #000000 !important;
    box-shadow: 0px 0px 15px 0px #000000 !important;
}

.white-proceos{
    color: white !important;
}

.card-proceos-1 {
    border-radius: 8px !important;
}

.img-card-proceos{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-proceos-padding{
    padding-left: 10px;
    padding-right: 10px;
}

.bg-proceos-transparent{
    background-color: rgba(22,29,49, 0.7);
}

.logo-header {
    width: 40px;
}