// .delete-button{
//   width: 20px;
//   height: 20px;
//   background: $rouge_en_fond;
// }
// .delete-button::after{
//   content: '';
// }

.create-new {
  background-color: $button_new_color;
  padding: .786rem 1.5rem;
  color: $text;
  border-radius: $radius;
  margin: 20px;
    &:hover {
      box-shadow: 0 8px 25px -8px $button_new_color;
    }
}

.update-button {
  background-color: $button_new_color;
  border: solid 1px $button_new_color;
  padding-left: .7rem;
  padding-right: .7rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  border-radius: $radius;
  color: $text;
  margin: 3px;
  cursor: pointer;
    &:hover {
      box-shadow: 0 8px 25px -8px $button_new_color;
    }
}

.back-button {
  background-color: $button_back;
  padding: .786rem 1.5rem;
  color: #FFF;
  border-radius: $radius;
  margin: 20px;
    &:hover {
      box-shadow: 0 8px 25px -8px $button_back;
    }
}

.validation-button {
  border: solid 1px $button_validation;
  background-color: $button_validation;
  padding: .786rem 1.5rem;
  color: #FFF;
  border-radius: $radius;
  margin: 20px;
  cursor: pointer;
    &:hover {
      box-shadow: 0 8px 25px -8px $button_validation;
    }
}

.user-form  {
  button {
      border: solid 1px $button_validation;
      background-color: $button_validation;
      padding: .786rem 1.5rem;
      color: #FFF;
      border-radius: $radius;
      margin: 20px;
      width: 150px;
      cursor: pointer;
        &:hover {
          box-shadow: 0 8px 25px -8px $button_validation;
        }
  }
}

.delete-button{
  background-color: $button_delete;
  border: solid 1px $button_delete;
  padding-left: .7rem;
  padding-right: .7rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  border-radius: $radius;
  color: $text;
  margin: 3px;
  cursor: pointer;
    &:hover {
      box-shadow: 0 8px 25px -8px $button_delete;
    }
}
.delete-button-formuser {
  background-color: $button_delete !important;
  border: solid 1px $button_delete !important;
  &:hover {
    box-shadow: 0 8px 25px -8px $button_delete !important;
  }
}