.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 30px;
}

input[type="text"], select, textarea, input[type="number"] {
    padding: 0.438rem 1rem;
    border: 1px solid $text;
    color: $text;
    background: none;
    margin-top: 10px;
    border-radius: $radius;
    width: 70%;
    font-family: $font;
    font-weight: 300;
    &:focus{
        border: 2px solid $button_new_color;
    }
}
input[type="number"] {
    width: 30%;
}
