{% extends 'base.html.twig' %}

{% block title %}New Quiz{% endblock %}

{% block body %}
    <h1 class="big-titles">Create new Quiz</h1>

    {{ include('quiz/_form.html.twig') }}

    <a class="btn back-button" href="{{ path('quiz_index') }}">back to list</a>
{% endblock %}
