{% extends './server/base.html.twig' %}

{% block title %}Edit Forum{% endblock %}

{% block body %}
    <h1 class="big-titles">Edit Forum</h1>

    {{ include('server/forum/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn back-button" href="{{ path('forum_index') }}">back to list</a>

    {{ include('server/forum/_delete_form.html.twig') }}
{% endblock %}
