{% extends 'base.html.twig' %}

{% block title %}Edit Module{% endblock %}

{% block body %}
    <h1>Edit Module</h1>

    {{ include('module/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('module_index') }}">back to list</a>

    {{ include('module/_delete_form.html.twig') }}
{% endblock %}
