{% extends 'base.html.twig' %}

{% block title %}New Module{% endblock %}

{% block body %}
    <h1>Create new Module</h1>

    {{ include('module/_form.html.twig') }}

    <a href="{{ path('module_index') }}">back to list</a>
{% endblock %}
