@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $body;
  color: $text;
}

main{
  width: calc(100vw - 200px);
  margin-left: 200px;
}

a {
  text-decoration: none;
  color: $text;
}

a:hover {
  color: $text;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

i {
  color: $text;
  font-family: 'FontAwesome', sans-serif !important;
}