$body: #161d31;
$card: #283046;
$rouge: #ea5455;
$rouge_en_fond: rgba(234, 84, 85, .12);
$vert: #28c76f;
$vert_en_fond: rgba(40, 199, 111, .12);
$orange: #ff9f43;
$orange_en_fond: rgba(255, 159, 67, .12);
$bleu_clair: #00cfe8;
$bleu_clair_en_fond: rgba(0, 207, 232, .12);
$text: #cfd1d5;
$hover_nav_link: #605ec3;
$font: 'Montserrat', sans-serif;
$button_new_color: #7367f0;
$button_update: #FF9E43;
$background_table: #283046;