{% extends 'client/base-client.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Tableau de bord Teacher</h2>
        <hr/>
        <div class="col-12">
            <h3>Module(s)</h3>
        </div>
    </div>
{% endblock %}