{% extends 'client/base-client.html.twig' %}

{% block content %}
<div class="container dashboard-teacher">
    <h2>Tableau de bord Intervenant</h2>
    <hr/>
    <div class="col-12">
        <h3 class="center">Liste des modules</h3>
    </div>
    <div class="card-module__container">
        {% for module in modules %}
        <div class="card-module">
            <a href="{{path('app_client_teacher_module_show', {id:module.id})}}" class="titleLabel">{{ module.label }}</a>
            {% if module.quiz is null %}
            <a href="{{path('create_quiz', {id:module.id})}}" class="quizzBtn">Créer un questionnaire</a>
            {% else %}
            <p>Quiz déjà créé</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}