{% extends 'base.html.twig' %}

{% block title %}Edit QuizWork{% endblock %}

{% block body %}
    <h1 class="big-titles">Edit QuizWork</h1>

    {{ include('quiz_work/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn back-button" href="{{ path('quiz_work_index') }}">back to list</a>

    {{ include('quiz_work/_delete_form.html.twig') }}
{% endblock %}
