{% extends 'base.html.twig' %}

{% block title %}New QuizWork{% endblock %}

{% block body %}
    <h1 class="big-titles">Create new QuizWork</h1>

    {{ include('quiz_work/_form.html.twig') }}

    <a class="btn back-button" href="{{ path('quiz_work_index') }}">back to list</a>
{% endblock %}
