{% extends 'base.html.twig' %}

{% block title %}Edit Exercice{% endblock %}

{% block body %}
    <h1>Edit Exercice</h1>

    {{ include('exercice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('exercice_index') }}">back to list</a>

    {{ include('exercice/_delete_form.html.twig') }}
{% endblock %}
