<form method="post" action="{{ path('topic_delete', {'id': topic.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ topic.id) }}">
    <button class="btn">Delete</button>
</form>
