{% extends 'base.html.twig' %}

{% block title %}Edit Topic{% endblock %}

{% block body %}
    <h1>Edit Topic</h1>

    {{ include('topic/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('topic_index') }}">back to list</a>

    {{ include('topic/_delete_form.html.twig') }}
{% endblock %}
