{% extends './server/base.html.twig' %}

{% block title %}Edit Answer{% endblock %}

{% block body %}
    <h1 class="big-titles">Edit Answer</h1>

    {{ include('server/answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn back-button" href="{{ path('answer_index') }}">back to list</a>

    {{ include('server/answer/_delete_form.html.twig') }}
{% endblock %}
