{% extends 'client/base-client.html.twig' %}

{% block content %}
    <div class="container">
        <h2>{{ module.label }}</h2>
        <hr/>
        <div class="row">
            {% if courses is not null %}
                {% for course in courses %}
                    <div class="col-12 col-lg-4">
                        <div class="bg-proceos-2 pt-4 pb-4">
                            <div class="text-center">
                                <h3>{{ course.title }}</h3>
                            </div>
                            <hr/>
                            <div class="d-flex justify-content-center">
                                <a class="quizzBtn" href="{{path('app_client_course_show', {id:course.id})}}">Voir le cours</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    <h6>Il n'y a pas de cours disponible dans ce module.</h6>
                </div>
            {% endif %}
        </div>
        <hr/>
        <div>
            <h4>Questionnaire d'entrée</h4>
        </div>
        <hr/>
        <p>Pour pouvoir commencer un cours vous devez avoir répondu au préalable au questionnaire d'entrée.</p>
        <div class="d-flex justify-content-center">
            {% if module.quiz is not null %}
                <a href="{{path('answer_quiz', {id:module.quiz.id})}}" class="quizzBtn">Répondre au questionnaire</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
