{% extends 'client/base-client.html.twig' %}

{% block content %}
    <div class="container">
        <h2>{{ module.label }}</h2>
        <hr/>
        <div class="row">
            {% for course in module.courses %}
                <div class="col-12 col-lg-4">
                    <div>
                        <div class="text-center">
                            <h3>{{ course.title }}</h3>
                        </div>
                        <hr/>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad blanditiis consequatur corporis eaque esse illo nam neque non, officiis? Autem culpa nulla quam rem sapiente! Alias labore mollitia voluptas.</p>
                        <div class="mb-3 d-flex justify-content-center">
                            <a href="{{path('app_client_course_show', {id:course.id})}}" class="quizzBtn">
                                Voir le cours
                            </a>
                        </div>
                    </div>
                    <hr/>
                </div>
            {% endfor %}
        </div>
        <div>
            <h4>Questionnaire d'entrée</h4>
        </div>
        <hr/>
        <p>Pour pouvoir commencer un cours vous devez avoir répondu au préalable au questionnaire d'entrée.</p>
        {% if module.quiz is not null %}
            {% if quizDone(module.quiz, app.user) %}
                <div class="alert alert-success" role="alert">
                    Vous avez répondu au questionnaire !
                </div>
            {% else %}
                <div class="alert alert-warning mt-2" role="alert">
                    <span>Vous devez répondre au questionnaire !</span>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <a href="{{path('answer_quiz', {id:module.quiz.id})}}" class="quizzBtn">Questionnaire</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
