{% extends 'client/base-client.html.twig' %}

{% block content %}
    <div class="container">
        <h2>{{ module.label }}</h2>
        <hr/>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div>
                    <div class="text-center">
                        <h3>Débutant(e)</h3>
                    </div>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad blanditiis consequatur corporis eaque esse illo nam neque non, officiis? Autem culpa nulla quam rem sapiente! Alias labore mollitia voluptas.</p>
                    <div>
                        <a href="#" class="quizzBtn">
                            Voir le cours
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div>
                    <div class="text-center">
                        <h3>Intermédiaire</h3>
                    </div>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis consequuntur dicta dolorum eos ex incidunt ipsam laudantium libero magni maxime modi molestiae nesciunt pariatur, repellendus sapiente sequi soluta velit?</p>
                    <div>
                        <a href="#" class="quizzBtn">
                            Voir le cours
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div>
                    <div class="text-center">
                        <h3>Avancé(e)</h3>
                    </div>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dignissimos, enim et eveniet explicabo harum, illo natus nesciunt nisi nostrum officiis qui ratione sapiente! Aspernatur dolorem earum esse excepturi libero!</p>
                    <div>
                        <a href="#" class="quizzBtn">
                            Voir le cours
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div>
            <h4>Questionnaire d'entrée</h4>
        </div>
        <hr/>
        <p>Pour pouvoir commencer un cours vous devez avoir répondu au préalable au questionnaire d'entrée.</p>
        <div class="d-flex justify-content-center">
            {% if module.quiz is not null %}
                <a href="{{path('answer_quiz', {id:module.quiz.id})}}" class="quizzBtn">Répondre au questionnaire</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
