{% extends './server/base.html.twig' %}

{% block title %}New Classe{% endblock %}

{% block body %}
    <h1 class="big-titles">Create new Classe</h1>

    {{ include('server/classe/_form.html.twig') }}

    <a class="btn back-button" href="{{ path('classe_index') }}">back to list</a>
{% endblock %}
